params {

    config_profile_description = 'Washington University, St Louis Center for Genome Sciences HTCF profile.'
    config_profile_contact = 'Chase Mateusiak (chasem@wustl.edu)'
    config_profile_url = "https://htcf.wustl.edu/docs/"

    max_cpus = 10
    max_memory = "100.0GB"

    platform = "illumina"

}

singularity {

  enabled = true
  autoMounts = true
  cacheDir = "${launchDir}/singularity_images/"

}


executor {

    submitRateLimit = "2 sec"

}

singularity {

  enabled = true
  autoMounts = true
  cacheDir = "${launchDir}/singularity_images/"

}


process {

    executor = "slurm"
    scratch = true
    scratch = "${launchDir}/local_tmp"

    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h   * task.attempt, 'time'    ) }
    }

    withLabel:process_medium {
        cpus = { check_max( 6 * task.attempt, 'cpus' ) }
        memory = { check_max( 29.GB * task.attempt, 'memory' ) }
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }

    withLabel:process_high {
        cpus = { check_max(8 * task.attempt, 'cpus' ) }
        memory = { check_max( 59.GB * task.attempt, 'memory' ) }
        time = { check_max( 3.h * task.attempt, 'time' ) }
    }

}
