/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/mblabcallvariants -profile test_full,kn99_haploid,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input                      = "https://raw.githubusercontent.com/BrentLab/callvariants/re_write/assets/test_multi_sample.csv"
    debug                      = true
    save_reference             = true
    save_intermediate          = true
    call_individual_variants   = true
    call_joint_variants        = true
}

process {

    withName: '.*FREEBAYES_.*' {
        cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
        memory = { check_max( 5.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 10.h * task.attempt, 'time'    ) }
    }

}
