/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/BrentLabcallvariants -profile test_full,kn99_haploid,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input                      = "https://github.com/BrentLab/callvariants/raw/main/assets/test_multi_sample.csv"
    outdir                     = 'results'
    debug                      = true
    save_reference             = true
    save_intermediates         = true
    call_individual_variants   = true
    call_joint_variants        = true
    snpeff_config_key          = 'ASM221672v1'
    snpeff_db                  = "${projectDir}/assets/genome_files/snpeff_db"
    snpeff_db_config           = "${projectDir}/assets/genome_files/snpEff.config"
    fasta                      = "https://raw.githubusercontent.com/BrentLab/callvariants/main/assets/genome_files/kn99_chr1_chr2.fasta"
    cnvpytor_conf_file         = "https://github.com/BrentLab/callvariants/raw/main/assets/genome_files/kn99_cnvpytor_haploid_genome_conf.py"
    cnvpytor_gc_file           = "https://github.com/BrentLab/callvariants/raw/main/assets/genome_files/kn99_with_markers_gc.pytor"
    region_bed_mask            = "https://github.com/BrentLab/callvariants/raw/main/assets/genome_files/dustmasked.KN99.bed"
}

process {

    withName: '.*FREEBAYES_.*' {
        cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
        memory = { check_max( 5.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 10.h * task.attempt, 'time'    ) }
    }

}
